<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.Question }}</title>
    <script>
        function validateForm() {
            const options = document.getElementsByName('option');
            let optionSelected = false;
            for (let i = 0; i < options.length; i++) {
                if (options[i].checked) {
                    optionSelected = true;
                    break;
                }
            }
            if (!optionSelected) {
                alert('Please select an option before submitting.');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>{{ question.Question }}</h1>
    <form action="" method="post" onsubmit="return validateForm()">
        {% for option in ['A', 'B', 'C', 'D'] %}
        <input type="radio" id="{{ option }}" name="option" value="{{ option }}">
        <label for="{{ option }}">{{ question[option] }}</label><br>
        {% endfor %}
        <br>
        <label>Does this question make sense?</label><br>
        <input type="radio" id="yes" name="question_quality" value="Yes">
        <label for="yes">Yes</label><br>
        <input type="radio" id="no" name="question_quality" value="No">
        <label for="no">No</label><br>
        <button type="submit">Submit Answer</button>
    </form>
    <a href="/finish">Finish</a>
</body>
</html>
